<h1>AssociationEnd</h1>
<p>
  <b>Xmi:</b>
  <%=h @association_end.xmi_id %>
</p>

<p>
  <b>Model:</b>
  <%=h @association_end.model_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @association_end.name %>
</p>

<p>
  <b>Association:</b>
  <%=h @association_end.association_id %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @association_end.visibility %>
</p>

<p>
  <b>Isspecification:</b>
  <%=h @association_end.isSpecification %>
</p>

<p>
  <b>Isnavigable:</b>
  <%=h @association_end.isNavigable %>
</p>

<p>
  <b>Aggregation:</b>
  <%=h @association_end.aggregation %>
</p>

<p>
  <b>Targetscope:</b>
  <%=h @association_end.targetScope %>
</p>

<p>
  <b>Multiplicity xmi:</b>
  <%=h @association_end.multiplicity_xmi_id %>
</p>

<p>
  <b>Multiplicity range xmi:</b>
  <%=h @association_end.multiplicity_range_xmi_id %>
</p>

<p>
  <b>Multiplicity range lower:</b>
  <%=h @association_end.multiplicity_range_lower %>
</p>

<p>
  <b>Multiplicity range upper:</b>
  <%=h @association_end.multiplicity_range_upper %>
</p>

<p>
  <b>Participant type:</b>
  <%=h @association_end.participant_type %>
</p>

<p>
  <b>Participant xmi:</b>
  <%=h @association_end.participant_xmi_id %>
</p>


<%= link_to 'Edit', edit_association_end_path(@association_end) %> |
<%= link_to 'Back', association_ends_path %>