<div id="<%= actor.xmi_id %>" alt="Actor" name="<%= actor.name %>" class="content" style="margin-left:30px;display:none;">
	<%= image_tag("icons/Actor.png", :onclick => "toggleSelected($('#{actor.xmi_id}'))") %>
	<%= actor.name %>
  <%= link_to_remote image_tag("icons/table.png"), :update => "#{actor.xmi_id}_data", :url => actor_url(:id => actor.id), :method => :get, :complete => "$('#{actor.xmi_id}_data').toggle();"; %><br>
	<div id="<%= actor.xmi_id %>_data" class="data" style="display:none;"></div>
</div>
