<h1>Editing diagram_element</h1>

<% form_for(@diagram_element) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :geometry %><br />
    <%= f.text_field :geometry %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :seqno %><br />
    <%= f.text_field :seqno %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :model_id %><br />
    <%= f.text_field :model_id %>
  </p>
  <p>
    <%= f.label :diagram_id %><br />
    <%= f.text_field :diagram_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @diagram_element %> |
<%= link_to 'Back', diagram_elements_path %>