<h1>New uml_attribute</h1>

<% form_for(@uml_attribute) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :xmi_id %><br />
    <%= f.text_field :xmi_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model_id %><br />
    <%= f.text_field :model_id %>
  </p>
  <p>
    <%= f.label :uml_class_id %><br />
    <%= f.text_field :uml_class_id %>
  </p>
  <p>
    <%= f.label :visibility %><br />
    <%= f.text_field :visibility %>
  </p>
  <p>
    <%= f.label :isSpecification %><br />
    <%= f.check_box :isSpecification %>
  </p>
  <p>
    <%= f.label :ownerSpace %><br />
    <%= f.text_field :ownerSpace %>
  </p>
  <p>
    <%= f.label :changeability %><br />
    <%= f.text_field :changeability %>
  </p>
  <p>
    <%= f.label :targetScope %><br />
    <%= f.text_field :targetScope %>
  </p>
  <p>
    <%= f.label :ordering %><br />
    <%= f.text_field :ordering %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', uml_attributes_path %>