<div id="<%= uml_class.xmi_id %>" alt="Class" class="content" name="<%= uml_class.name %>" style="margin-left:30px;display:none;">
  <% if (uml_class.uml_attributes.count > 0) %>
	  <%= image_tag("icons/plus_icon.png", :id => "#{uml_class.xmi_id}_img", :size => "11x11", :onclick => "toggleChildElements(this);", :alt => "show") %>
  <% else %>
	  <%= image_tag("icons/empty_icon.png", :size => "11x11") %>
	<% end %>
	<%= image_tag("icons/#{uml_class.class.name}.png", :onclick => "toggleSelected($('#{uml_class.xmi_id}'))") %> <%= uml_class.name %>
	  <%= link_to_remote image_tag("icons/table.png"), :update => "#{uml_class.xmi_id}_data",
    :url => uml_class_url(:id => uml_class.id), :method => :get, :complete => "$('#{uml_class.xmi_id}_data').toggle();"; %><br>
	<div id="<%= uml_class.xmi_id %>_data" class="data" style="display:none;"></div>
	<%= render :partial => "uml_attributes/uml_attribute", :collection => uml_class.uml_attributes %>
</div>
